<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/style/blog.css" />
  </head>

  <body>
    <!-- NavBar -->
    
    <!-- -----------NAVBAR-START-------------- -->

    <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              {{!-- <a class="nav-link" aria-current="page" href="/">Home</a> --}}
            </li>
            <li class="nav-item">
              {{!-- <a class="nav-link" href="/blog">Add Projects</a> --}}
            </li>
            <li class="nav-item">
              {{!-- <a class="nav-link" href="/testimonial">My Testimonials</a> --}}
            </li>
          </ul>
            <ul class="navbar-nav justify-content-end">
            {{#if isLogin}}
            <li class="nav-item">
              <a class="nav-link" href="/logout" role="button">Logout</a>
            </li>
            {{else}}
            <li class="nav-item">
              <a class="nav-link" href="/register" role="button">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/login" role="button">Login</a>
            </li>
            {{/if}}
            </ul>
      </div>
    </nav>

  <!-- ------------NAVBAR-END--------------- -->

    <!-- Blog -->
    <!-- Form -->

     <div class="blog">
      <div class="blog-form">
        <div class="form-container">
          <form action="/login" method="POST">
            <h1>LOGIN</h1>
             {{#if messages.danger}}
                     <div class="alert alert-danger" role="alert">
                        <div class="container">
                           {{messages.danger}}
                        </div>
                     </div>
                  {{/if}}

                  {{#if messages.success}}
                     <div class="alert alert-success" role="alert">
                        <div class="container">
                           {{messages.success}}
                        </div>
                     </div>
                  {{/if}}
            <div>
              <label for="input-blog-title">Email</label>
              <input id="input-blog-title" name="email" type="email" />
            </div>
            <div>
              <label for="input-blog-title">Password</label>
              <input id="input-blog-title" name="password" type="password" />
            </div>
            <div class="button-group" style="display: flex;">
              <button>Login</button>
            </div>
          </form>
        </div>
      </div>

        
      
      
    </div>
  </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- <script src="./assets/js/toggle.js"></script> -->
</html>